.card{margin: 1em; flex: 0 1 20%;}
.notes{align-items: center;}
.card-remove{display:inline-block;}

@keyframes example {
    from {transform: scale(1);}
    to {transform: scale(0.6);}
}

/* The element to apply the animation to */
 .animate {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 1s;
    z-index: 10;
}
